<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
  <div>
      <h2>Welcome to our System</h2>

  </div>
    <!-- <div>
        <a th:href="@{/student_form}" >
            <h2>
                Register student
            </h2>
        </a>
    </div> -->

  <div>
      <a th:href="@{/view_All_student_form}" >
          <h2>
              View student
          </h2>
      </a>

  </div>


</body>
</html>